<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">




    <title>

        {% block tcontent %}

        {% endblock %}

    </title>




    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->


<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
        <!--
        Artcore Template
        http://www.templatemo.com/preview/templatemo_423_artcore
        -->
        <link rel="stylesheet" href="/_static/guest/css/bootstrap.css">
        <link rel="stylesheet" href="/_static/guest/css/font-awesome.css">
        <link rel="stylesheet" href="/_static/guest/css/animate.css">
        <link rel="stylesheet" href="/_static/guest/css/templatemo-misc.css">
        <link rel="stylesheet" href="/_static/guest/css/templatemo-style.css">

        <link rel="stylesheet" href="/_static/guest/css/_target.css">
        
        <script src="/_static/guest/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>


        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            $("input[type=text]").keyup(function(){
                var className = $(this).attr('class').replace('valueEnter','').trim();
                $("."+className).val($(this).val());
            });
        </script> -->

        <style type="text/css">
            a{
                margin: 2px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


        <section id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </section> <!-- /#pageloader -->





        <header class="site-header container-fluid">



{% block headerplusplus %}

{% endblock %}




        </header>











    {% block childcontent %}

    {% endblock %}









        <script src="/_static/guest/js/vendor/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/_static/guest/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="/_static/guest/js/plugins.js"></script>
        <script src="/_static/guest/js/main.js"></script>

        <!-- Google Map -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/_static/guest/js/vendor/jquery.gmap3.min.js"></script>
        
        <!-- Google Map Init-->
        <script type="text/javascript">
            jQuery(function($){
                $('#map_canvas').gmap3({
                    marker:{
                        address: '40.717599,-74.005136' 
                    },
                        map:{
                        options:{
                        zoom: 17,
                        scrollwheel: false,
                        streetViewControl : true
                        }
                    }
                });
            });
        </script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('.loader-item').fadeOut(); // will first fade out the loading animation
                    $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>



        <script>

            // Set the date we're counting down to...
            // I've time only 18'July to 16'August, thats why write 17'Aug!!!
            var countDownDate = new Date("Aug 17, 2023 00:00:00").getTime();
            // Update the count down every 1 second
            var x = setInterval(function() {
                // Get today's date and time
                var now = new Date().getTime();    
                // Find the distance between now and the count down date
                var distance = countDownDate - now;    
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);    
                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = days + "'Days   +   " + hours + "'Hours " + minutes + "'Minutes " + seconds + "'Seconds.";
                // If the count down is over, write some text 
                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);

        </script>



    </body>
</html>





