
{% extends 'guest/_master.html' %}




{% block tcontent %}
@theshivashu07's world!!
{% endblock %}



{% block headerplusplus %}

{% endblock %}




{% block childcontent %}


        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide" style="background-image: url(/_static/guest/images/slide3.jpg);">
                    <div class="overlay-s"></div>
                    <div class="slider-caption">
                        <div class="inner-content">
                            <h2>Welcome on the 'intro-vert' World</h2>
                            <p>Your @shivashu is so shy and introvert, but you know about him only-on-there!!!</p>
                            <a href="#" class="main-btn white">Can I Come?</a>
                        </div> <!-- /.inner-content -->
                    </div> <!-- /.slider-caption -->
                </div> <!-- /.swier-slide -->

            </div> <!-- /.swiper-wrapper -->
        </div> <!-- /.swiper-container -->


{% endblock %}


