



{% include 'guest/_header.html' %}


            <div class="main-header" style="border-bottom: groove white;">
                <div class="row" style="justify-content: right;">
                    <div class="menu-wrapper">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm sf-js-enabled sf-arrows">
                            
                            <!-- <li {% if request.path == '/index/' %} class="active" {% endif %}><a href="/index/">Home</a></li> -->
                            <li {% if request.path == '/codecollections/' %} class="active" {% endif %}><a href="/codecollections/">Home</a></li>

                            <!-- When we want to add data in main tables -->
                            <li {% if request.path == '/codecollections/edit-tables/' %} class="active" {% endif %}><a href="/codecollections/edit-tables/"> Edit-Tables </a></li>

                            <!-- When we create a new problem, only problem -->
                            <li {% if request.path == '/codecollections/add-problem/' %} class="active" {% endif %}><a href="/codecollections/add-problem/"> Add-Problem </a></li>

                            <!-- When we create new solution for any problem -->
                            <!-- <li {% if request.path == '/codecollections/add-solution/{{problemslug}}/' %} class="active" {% endif %}><a href="/codecollections/add-solution/{{problemslug}}/"> Add Solution </a></li> -->

                            <!-- When we create problem and solution directly -->
                            <!-- <li {% if request.path == '/codecollections/add-problem-solution/' %} class="active" {% endif %}><a href="/codecollections/add-problem-solution/"> Add-Problem-Solution </a></li> -->

                            <!-- When we create a new problem, only problem -->
                            <!-- <li {% if request.path == '/codecollections/problem/edit/{{problemslug}}/' %} class="active" {% endif %}><a href="/codecollections/problem/edit/{{problemslug}}/"> Edit Problem </a></li> -->

                            <!-- When we create new solution for any problem -->
                            <!-- <li {% if request.path == '/codecollections/solution/edit/{{problemslug}}/{{solutionid}}/' %} class="active" {% endif %}><a href="/codecollections/solution/edit/{{problemslug}}/{{solutionid}}/"> Edit Solution </a></li> -->

                            <!-- When we create a new problem, only problem -->
                            <!-- <li {% if request.path == '/codecollections/problems-with-solutions/' %} class="active" {% endif %}><a href="/codecollections/problems-with-solutions/"> Problem's-Solution's </a></li> -->

                            <!-- When we create new solution for any problem -->
                            <!-- <li {% if request.path == '/codecollections/problem-solution/{{problemslug}}/{{solutionid}}/' %} class="active" {% endif %}><a href="/codecollections/problem-solution/{{problemslug}}/{{solutionid}}/"> Open Problem with Solution </a></li> -->

                            <!-- <li {% if request.path == '/codecollections/problems-without-solutions/' %} class="active" {% endif %}><a href="/codecollections/problems-without-solutions/"> Problems-Only </a></li> -->

                            <li {% if request.path == '/codecollections/problems-with-or-without-solutions/' %} class="active" {% endif %}><a href="/codecollections/problems-with-or-without-solutions/"> Show-Solutions </a></li>

                            <li {% if request.path == '/codecollections/testing-page/' %} class="active" {% endif %}><a href="/codecollections/testing-page/"> Testing </a></li>

                        </ul>
                    </div> 
                </div>

            </div> 




            <div class="logo col-12">

                {% for message in messages %}
                    <!-- this is a special addition for messages and alerts -->
                    <div class="alert alert-{{message.tags}} alert-dismissible show" role="alert" style="margin:0;">
                      <strong>Notice : </strong>  {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}

            </div>

            
