



                                    
                                    
                                    <div style="content-visibility: auto; background-color: white; padding: 40px 20px; border-radius: 5px; ">
                                        <h3 class="grid-heading codeheading" style="margin-bottom:0;">


                                            <div style="float:right;text-align:right;display:grid;">

                                                <div style="margin-bottom:5px;">

                                                    <div class="btn-group">
                                                      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:black; color:orange; border-color:orange;">
                                                        Actions
                                                      </button>
                                                      <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a href="/codecollections/edit-solution/{{ProblemDataSet.slug}}/{{SolutionDataSet.id}}/" style="color:black; display: flex;">
                                                                Edit Solution
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/codecollections/delete-solution/{{ProblemDataSet.slug}}/{{SolutionDataSet.id}}/" style="color:black; display: flex;">
                                                                Delete Solution 
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <a href="/codecollections/add-solution-attachments/{{ProblemDataSet.slug}}/{{SolutionDataSet.id}}/" style="color:black; display: flex;">
                                                                Add Attachments
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <a href="/codecollections/problem/{{ProblemDataSet.slug}}/" style="color:black; display: flex;">
                                                                Problem Only !!!
                                                            </a>
                                                        </li>
                                                      </ul>
                                                    </div>

                                                </div>

                                        </div>



                                            <div style="display:flex; font-size:90%;">
                                                Solution 
                                                <div style="margin:4px 0px 0px 4px;text-transform: initial;background-color:#ffa500; font-size:50%; padding:3px 10px; border-radius:10px; height:fit-content; min-width:fit-content;">
                                                    Powered by 
                                                    <b class="tags1">{{ SolutionDataSet.programminglanguages.name | default:None }}</b>
                                                </div>
                                            </div>

                                            <div style="border-radius:2px;font-size:12px; margin:2px;">
                                                <b style="color:#1c1c1c; margin-right: 10px;">Tagged-Data-Structure's : </b>
                                                {% if SolutionDataSet.datastructures %}
                                                    {% for object in SolutionDataSet.datastructures %}
                                                        <b class="tags2">{{object.name}}</b>
                                                    {% endfor %}
                                                {% else %}
                                                    <b class="tags2">None</b>
                                                {% endif %}
                                            </div>
                                            
                                        </h3>



                                        <div style="margin-top: 10px;">



                                                <!-- <div class="paragraph" style="padding: 20px 10px; background-color:#fbfbfb;">
                                                    <p>
                                                        {{SolutionDataSet.codesubmissions.1 | default:None}}
                                                    </p>
                                                </div> -->


                                        <div>
                                            <textarea name="SolutionsCodeSubmissions" id="SolutionsCodeSubmissions" class="codetextarea codeinputs" placeholder="typing..." style="margin-top:20px; max-width: -webkit-fill-available; background-color: #fbfbfb; border-radius: 5px 5px 0 0;  line-height: normal; height: 250px; padding: 25px 10px;" readonly >{{SolutionDataSet.codesubmissions | default:None}}
                                            </textarea>
                                        </div>
                                        <div class="paragraph" style="border-radius: 0 0 5px 5px; padding: 10px; border: 1px solid #d5d5d5;">
                                                <b>Time Complexity:</b> {{SolutionDataSet.timecomplexity  | default:None}}.
                                            <br>
                                               <b>Auxiliary Space:</b> {{SolutionDataSet.auxiliaryspace  | default:None}}.
                                        </div>

                                        </div>



                                        {% if SolutionDataSet.attachments %}
                                            <div class="paragraph" style="border-radius:5px; padding:10px; margin-top:20px; border: 1px solid #d5d5d5;">

                                                {% for object in SolutionDataSet.attachments %}

                                                    {% if forloop.counter == 1 %}
                                                        <b style="margin-left:5px; text-decoration:underline; color:black;">Main : </b>
                                                    {% elif forloop.counter == 2 %}
                                                        <b style="margin-left:5px; text-decoration:underline; color:black;">Others :</b>
                                                    {% endif %}

                                                    <div class="paragraph" style="border: 1px solid #d5d5d5; background-color: {% if forloop.counter == 1 %} white {% else %} #fafafa {%endif%}; padding:10px;">   
                                                        {% if object.solutionattachments_id.link %}
                                                            <b style="text-decoration:underline; ">Link:</b> <a href="{{object.solutionattachments_id.link}}" target="_blank" style="color:blue;">{{object.solutionattachments_id.showntitle  |  default:'Open Given Link'}} 🔗</a>
                                                        {% else %}
                                                            <b style="text-decoration:underline; ">Link:</b> <a style="color: blue;"> {% if object.solutionattachments_id.showntitle %} {{object.solutionattachments_id.showntitle}}  |  {% endif %} Link Not Available 🔗</a>
                                                        {% endif %}
                                                        <br>
                                                           <b style="text-decoration:underline; ">Note:</b> {{object.solutionattachments_id.note  | default:None}}
                                                    </div>

                                                {% endfor %}

                                            </div>  
                                        {% endif %}


                                    </div>


