



                                    
                                    
                                    <div style="content-visibility: auto; background-color: white; padding: 20px; border-radius: 5px; ">
                                        <h3 class="grid-heading codeheading" style="margin-bottom:0;contain: content;">



                                            <div style="float:right;text-align:right;display:grid;">

                                                <div style="float:right;text-align:right;display:inline-flex;">
                                                    <div style="background-color:lightgray; padding:5px; margin:5px; border-radius: 5px;">
                                                        <a href="/codecollections/add-solution/{{ProblemDataSet.slug}}/" style="color:black; ">
                                                            <i class="li_bulb"></i>
                                                        </a>
                                                    </div>
                                                    <div style="background-color:lightgray; padding:5px; margin:5px; border-radius: 5px;">
                                                        <a href="/codecollections/edit-problem/{{ProblemDataSet.slug}}/" style="color:black; ">
                                                            <i class="li_pen"></i>
                                                        </a>
                                                    </div>
                                                    <div style="background-color:lightgray; padding:5px; margin:5px; border-radius:5px;">
                                                        <a href="/codecollections/delete-problem/{{ProblemDataSet.slug}}/" style="color:black; ">
                                                            <i class="li_trash"></i>
                                                        </a>
                                                    </div>
                                                </div>


                                                {% if ProblemDataSet.plateforms %}
                                                    <div style="float:right;text-align:right;display:inline-flex;">
                                                        {% for object in ProblemDataSet.links %}
                                                            <div style="background-color:{{object.plateform_id.bgcolor | default:'lightgray'}}; padding:5px; margin:2px; border-radius:50px; font-size:70%; border-left: groove; border-right: ridge;">
                                                                <a href="{{object.link | default:'#'}}" style="color:{{object.plateform_id.color | default:'black'}};">
                                                                    {{object.text  |  default:object.problem_id.title }}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                            </div>



                                            <div style="display:flex; font-size:90%;">
                                                101. {{ProblemDataSet.title | default:None}}
                                                <div style="margin:4px 0px 0px 4px;text-transform: initial;background-color:#ffa500; font-size:50%; padding:3px 10px; border-radius:10px; height:fit-content; min-width:fit-content;">
                                                    Powered by 
                                                    {% if ProblemDataSet.plateforms %}
                                                        {% for object in ProblemDataSet.plateforms %}
                                                            <b class="tags1">{{object.name}}</b>
                                                        {% endfor %}
                                                    {% else %}
                                                        <b class="tags1">None</b>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div style="border-radius:2px;font-size:16px; margin-bottom:10px;">
                                                {% if ProblemDataSet.subproblem %}
                                                    <b style="color:black; margin-right: 10px; text-decoration:underline;">Sub-Name's</b>  
                                                    {% for object in ProblemDataSet.subproblem %}
                                                        <b class="tags2" style="background-color:#454545; color:white; font-size:90%;">{{object.title}}</b>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>


                                            <div style="border-radius:2px;font-size:12px; margin:2px;">
                                                <b style="color:black; margin-right: 10px;">Tagged-Data-Structure's : </b>
                                                {% if ProblemDataSet.datastructures %}
                                                    {% for object in ProblemDataSet.datastructures %}
                                                        <b class="tags2">{{object.name}}</b>
                                                    {% endfor %}
                                                {% else %}
                                                    <b class="tags2">None</b>
                                                {% endif %}
                                            </div>
                                            <div style="border-radius:2px;font-size:12px; margin:2px;">
                                                <b style="color:black; margin-right: 10px;">Tagged-DSA-Sheet's/List's : </b>
                                                {% if ProblemDataSet.dsasheetlist %}
                                                    {% for object in ProblemDataSet.dsasheetlist %}
                                                        <b class="tags2">{{object.name}}</b>
                                                    {% endfor %}
                                                {% else %}
                                                    <b class="tags2">None</b>
                                                {% endif %}
                                            </div>
                                            
                                        </h3>



                                        <div style="margin-top: 30px;">
                                            {% if ProblemDataSet.detailsset %}

                                                    <div class="paragraph" style="padding: 20px 5px;">

                                                            <p>
                                                                {{ProblemDataSet.detailsset.0  |  safe}}
                                                            </p>

                                                    </div>

                                            {% else %}
                                                <div class="paragraph">
                                                    <p>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                    </p>
                                                </div>
                                            {% endif %}

                                            <div class="paragraph">
                                                <p>
                                                    <b>Expected Time Complexity:</b> {{ProblemDataSet.timecomplexity  | default:None}}.
                                                </p>
                                                <p>
                                                   <b>Expected Auxiliary Space:</b> {{ProblemDataSet.auxiliaryspace  | default:None}}.
                                               </p>
                                            </div>
                                        </div>
                                    </div>


