



                                    
                                    
                                    <div style="content-visibility: auto; background-color: white; padding: 40px 20px; border-radius: 5px; ">


                                        <div style="">

                                                    <div class="paragraph" style="padding: 20px 10px; background-color:#fbfbfb;">
                                                        <table class="table table-sm table-hover" style="margin-bottom:0">
                                                          <caption style="margin-left:5px;">List of Solution's</caption>
                                                          <thead style="background-color: #f2f2f2;">
                                                            <tr>
                                                              <th scope="col">#</th>
                                                              <!-- <th scope="col">Problem Name</th> -->
                                                              <!-- <th scope="col" style="text-align: center;">Solutions Count</th> -->
                                                              <th scope="col" style="text-align: center;">Solution Language</th>
                                                              <th scope="col" style="text-align: center;">Time Complexity</th>
                                                              <th scope="col" style="text-align: center;">Space Complexity</th>
                                                              <th></th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>

                                                            {% if ProblemDataSet.SolutionsContinueCount %}
                                                                {% for object in ProblemDataSet.SolutionsContinueCount  %}

                                                                                <tr style="line-height:10px;" >
                                                                                    <th scope="row ">
                                                                                        {{ forloop.counter }}
                                                                                    </th>
                                                                                    <td style="text-align: center;">{{object.programminglanguages.name}}</td>
                                                                                    <td style="text-align: center;">{{object.timecomplexity}}</td>
                                                                                    <td style="text-align: center;">{{object.auxiliaryspace}}</td>
                                                                                    <td style="text-align: center;">
                                                                                        <a href="/codecollections/problem-solution/{{object.problem_id.slug}}/{{object.id}}/">
                                                                                            open-solution
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                {% endfor %}

                                                            {% else %}
                                                                                <tr style="line-height:10px;" >
                                                                                    <th scope="row "></th>
                                                                                    <!-- <td style="text-align: center;">-</td> -->
                                                                                    <td style="text-align: center;">-</td>
                                                                                    <td style="text-align: center;">-</td>
                                                                                    <td style="text-align: center;">-</td>
                                                                                </tr>
                                                            {% endif %}

                                                          </tbody>
                                                        </table>

                                                    </div>





                                                    <!-- If you want to add, add here -->




                                                    <!-- <div class="paragraph" style="padding: 20px 10px; background-color:#fbfbfb;">
                                                        ?
                                                    </div> -->




                                        </div>


                                    </div>


