










                                <!-- <h3 class="grid-heading codeheading" style="margin-bottom: 10px;"> -->
                                <h3 class="grid-heading codeheading" style="margin-bottom: 0;">
                                    <!-- <div class="display:flex" style="text-decoration: underline;"> -->
                                    <div class="display:flex">
                                        (:   Solution-Input/Edit-Section
                                    </div>
                                </h3>





                                <!-- <div style="content-visibility: auto; background-color: white; padding: 50px 20px; border-radius: 5px; ">  -->
                                <div style="content-visibility: auto; background-color: white; padding: 25px 5px; border-radius: 5px; "> 


                                <form method="POST" action="{{request.path}}">
                                {% csrf_token %}


                                    <div class="col-md-7">  
                                        <div class="col-md-12 inputbox" style="padding:0; margin:0;">                                                    
                                            <!-- <label class="labels" style=""> Enter Your Code </label> -->
                                            <textarea name="SolutionsCodeSubmissions" id="SolutionsCodeSubmissions" class="codetextarea codeinputs" placeholder="typing..." style="height:525px; background-color:white; line-height: normal;">{{SolutionDataSet.codesubmissions}}</textarea>
                                        </div>
                                    </div>


                                    <div class="col-md-5">  
                                        <div class="col-md-12 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">
                                            <label class="labels"> Data Structure </label>
                                            <div style="display: flex; overflow-x: scroll; background-color: white; border-radius: 5px; border: 1px solid #d5d5d5; padding: 2px;">

                                                    {% for object in DataStructures %}
                                                        <div style="flex: none; padding: 5px 10px;">
                                                            <input type="checkbox" id="SolutionsDataStructures" name="SolutionsDataStructures" value="{{object.id}}"  {% if object in SolutionDataSet.datastructures %} checked {% endif %}>
                                                            <label for="SolutionsDataStructures"> {{object.name}}</label>
                                                        </div>
                                                    {% endfor %}

                                            </div>
                                        </div>

                                        <div class="col-md-12 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">
                                            <label class="labels"> Programming Language </label>
                                            <select name="SolutionsProgrammingLanguage" id="SolutionsProgrammingLanguage" class="codeinputs">
                                                {% if SolutionDataSet.programminglanguages %}
                                                    {% for object in ProgrammingLanguages %}
                                                        <option value="{{object.id}}"{% if object.id == SolutionDataSet.programminglanguages.id %} selected {% endif %}>{{object.name}}</option>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for object in ProgrammingLanguages %}
                                                        <option value="{{object.id}}"{% if object.name == 'Python' %} selected {% endif %}>{{object.name}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>

                                        <div class="col-md-6 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">
                                            <label class="labels"> Given Link's </label>
                                            <input class="codeinputs" type="text" id="SolutionsLink" name="SolutionsLink" placeholder="typing..." value="{{SolutionDataSet.attachments.0.link}}" style="border-radius:5px 0 0 5px;">
                                        </div>
                                        <div class="col-md-6 inputbox" style="padding:0; margin:0; margin-top:10px;">
                                            <label class="labels"> Given Link's </label>
                                            <input class="codeinputs" type="text" id="SolutionsShownTitle" name="SolutionsShownTitle" placeholder="typing..." value="{{SolutionDataSet.attachments.0.showntitle}}" style="border-radius:0 5px 5px 0;">
                                        </div>
                                        <div class="col-md-12 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">                                               
                                            <label class="labels" style=""> Given Note's </label>
                                            <textarea name="SolutionsNote" id="SolutionsNote" class="codetextarea codeinputs" placeholder="typing..." style="height:100px; background-color:white; line-height: normal;">{{SolutionDataSet.attachments.0.note}}</textarea>
                                        </div>

                                        <div class="col-md-6 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">
                                            <label class="labels"> Time Complexity </label>
                                            <input class="codeinputs" type="text" id="SolutionsTimeComplexity" name="SolutionsTimeComplexity" placeholder="typing..." value="{{SolutionDataSet.timecomplexity}}">
                                        </div>
                                        <div class="col-md-6 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">
                                            <label class="labels"> Auxiliary Complexity </label>
                                            <input class="codeinputs" type="text" id="SolutionsAuxiliarySpace" name="SolutionsAuxiliarySpace" placeholder="typing..." value="{{SolutionDataSet.auxiliaryspace}}">
                                        </div>
                                        <div class="col-md-12 inputbox" style="padding:0; margin:0; padding:50px 0 10px 0">
                                            <input class="codeinputs" type="submit" style="background-color:#dd0000; color:white;"> 
                                        </div>
                                    </div>

                                </form>

                                
                                </div>


