



                                    
                                    
                                    <div style="content-visibility: auto; background-color: white; padding: 20px; border-radius: 5px; ">
                                        <h3 class="grid-heading codeheading" style="margin-bottom:0;">
                                            {% if request.path != "/codecollections/add-problem/" and request.path != "/codecollections/add-problem-solution/" %}
                                            <div style="float:right;text-align:right;display:inline-flex;">
                                                <div style="background-color:lightgray; padding:5px; margin:5px; border-radius: 5px;">
                                                    <a href="/codecollections/edit-problem/{{ProblemDataSet.slug}}/" style="color:black; ">
                                                        <i class="li_pen"></i>
                                                    </a>
                                                </div>
                                                <div style="background-color:lightgray; padding:5px; margin:5px; border-radius:5px;">
                                                    <a href="/codecollections/delete-problem/{{ProblemDataSet.slug}}/" style="color:black; ">
                                                        <i class="li_trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div style="display:flex;">
                                                101. {{ProblemDataSet.title | default:None}}
                                                <div style="margin: 10px 10px 0 10px; text-transform: initial; background-color: #ffa500; font-size: 14px; padding: 0 5px; border-radius: 5px; height: fit-content;">
                                                    Powered by 
                                                    {% if ProblemDataSet.plateforms %}
                                                        {% for object in ProblemDataSet.plateforms %}
                                                            <b class="tags1">{{object.name}}</b>
                                                        {% endfor %}
                                                    {% else %}
                                                        <b class="tags1">None</b>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div style="border-radius:2px;font-size:12px;margin-top:-5px;">
                                                <b style="color:black; margin-right: 10px;">Related Tagged Data Structure's : </b>
                                                {% if ProblemDataSet.datastructures %}
                                                    {% for object in ProblemDataSet.datastructures %}
                                                        <b class="tags2">{{object.name}}</b>
                                                    {% endfor %}
                                                {% else %}
                                                    <b class="tags2">None</b>
                                                {% endif %}
                                            </div>
                                        </h3>



                                        <div style="margin-top: 30px;">
                                            {% if ProblemDataSet.detailsset %}

                                                    <div class="paragraph" style="padding: 20px 5px;">

                                                            <p>
                                                                {{ProblemDataSet.detailsset  |  safe}}
                                                            </p>

                                                        {% comment %}
                                                        <textarea name="SolutionsCodeSubmissions" id="SolutionsCodeSubmissions" class="codetextarea codeinputs" placeholder="typing..." style="margin-top:20px; max-width: -webkit-fill-available; background-color: #f4f4f4; border-radius: 5px 5px 0 0; min-height:250px;" readonly >{{ProblemDataSet.detailsset | default:None}}
                                                        </textarea>
                                                        {% endcomment %}

                                                    </div>

                                            {% else %}
                                                <div class="paragraph">
                                                    <p>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                        ....................................................................
                                                        <br>
                                                    </p>
                                                </div>
                                            {% endif %}

                                            <div class="paragraph">
                                                <p>
                                                    <b>Expected Time Complexity:</b> {{ProblemDataSet.timecomplexity  | default:None}}.
                                                </p>
                                                <p>
                                                   <b>Expected Auxiliary Space:</b> {{ProblemDataSet.auxiliaryspace  | default:None}}.
                                               </p>
                                            </div>
                                        </div>
                                    </div>


