








                            <div style="content-visibility: auto; background-color: white; padding: 25px 0; border-radius: 5px;">  


                                <!-- <h3 class="grid-heading codeheading" style="margin-bottom: 10px;"> -->
                                <h3 class="grid-heading codeheading" style="margin-bottom: 0; margin-left: 15px; ">
                                    <!-- <div class="display:flex" style="text-decoration: underline;"> -->
                                    <div class="display:flex">
                                        (:    Problem-Input/Edit-Section
                                    </div>
                                </h3>



                                <!-- <div style="content-visibility: auto; background-color: white; padding: 50px 20px; border-radius: 5px; ">  -->
                                <div style="content-visibility: auto; background-color: white; padding: 25px 5px; "> 


                                <form method="POST" action="{{request.path}}">
                                {% csrf_token %}


                                    <div class="col-md-6">  
                                        <div class="col-md-12 inputbox" style="padding:0; margin:0;">
                                            <!-- <label class="labels" style=""> Enter Details </label> -->
                                            <textarea name="ProblemsDetailSet" id="ProblemsDetailSet" class="codetextarea codeinputs" placeholder="typing..." style="height:470px; background-color:white; line-height: normal;">{{ProblemDataSet.detailsset.1}}</textarea>
                                        </div>
                                    </div>


                                    <div class="col-md-6" >  

                                        <div class="col-md-12 inputbox" style="padding:0; margin:0;">
                                            <label class="labels" style=""> Enter Problem Title </label>
                                            <input class="codeinputs" type="text" id="ProblemsTitle" name="ProblemsTitle" placeholder="typing..." value="{{ ProblemDataSet.title }}" style="">
                                        </div>
                                        <div class="col-md-12 inputbox" style="padding:0; margin: 0; margin-top:10px;">
                                            <label class="labels"> Select Plateforms </label>
                                            <div style="display:flex;overflow-x: scroll; background-color: white; border-radius: 5px; border: 1px solid #d5d5d5; padding: 2px;">

                                                    {% for object in Plateforms %}
                                                        <div style="flex: none; padding: 5px 10px;">
                                                            <input type="checkbox" selected id="ProblemsPlateforms" name="ProblemsPlateforms" value="{{object.id}}" {% if object in ProblemDataSet.plateforms %} checked {% endif %}>
                                                            <label for="ProblemsPlateforms"> {{object.name}}</label>
                                                        </div>
                                                    {% endfor %}

                                            </div>
                                        </div>
                                        <div class="col-md-12 inputbox" style="padding:0; margin: 0; margin-top:10px;">       
                                            <label class="labels"> Select Data Structures </label>
                                            <div style="padding-left:5px;display:flex;overflow-x: scroll; background-color: white; border-radius: 5px; border: 1px solid #d5d5d5; padding: 2px;">

                                                    {% for object in DataStructures %}
                                                        <div style="flex: none; padding: 5px 10px;">
                                                            <input type="checkbox" id="ProblemsDataStructures" name="ProblemsDataStructures" value="{{object.id}}" {% if object in ProblemDataSet.datastructures %} checked {% endif %}>
                                                            <label for="ProblemsDataStructures"> {{object.name}}</label>
                                                        </div>
                                                    {% endfor %}

                                            </div>
                                        </div>
                                        <div class="col-md-12 inputbox" style="padding:0; margin: 0; margin-top:10px;">       
                                            <label class="labels"> Select DSA Sheet/List </label>
                                            <div style="padding-left:5px;display:flex;overflow-x: scroll; background-color: white; border-radius: 5px; border: 1px solid #d5d5d5; padding: 2px;">

                                                    {% for object in DSAsSheetsLists %}
                                                        <div style="flex: none; padding: 5px 10px;">
                                                            <input type="checkbox" id="ProblemsDSAsSheetsLists" name="ProblemsDSAsSheetsLists" value="{{object.id}}" {% if object in ProblemDataSet.dsasheetlist %} checked {% endif %}>
                                                            <label for="ProblemsDSAsSheetsLists"> {{object.name}}</label>
                                                        </div>
                                                    {% endfor %}

                                            </div>
                                        </div>

                                        <div class="col-md-6 inputbox" style="padding:0; margin:0; padding-right:5px; margin-top:10px;">
                                            <label class="labels" style=""> Expected Time Complexity </label>
                                            <input class="codeinputs" type="text" id="ProblemsTimeComplexity" name="ProblemsTimeComplexity" placeholder="typing..." value="{{ ProblemDataSet.timecomplexity }}">
                                        </div>
                                        <div class="col-md-6 inputbox" style="padding:0; margin:0; padding-left:5px; margin-top:10px;">
                                            <label class="labels" style=""> Expected Auxiliary Space </label>
                                            <input class="codeinputs" type="text" id="ProblemsAuxiliarySpace" name="ProblemsAuxiliarySpace" placeholder="typing..." value="{{ ProblemDataSet.auxiliaryspace }}">
                                        </div>




                                        {% if 'edit-problem' in request.path %}

                                        
                                        <div class="col-md-4 inputbox" style="padding:50px 0 10px 0; margin:0; padding-left:5px; margin-top:10px;">
                                            <input class="codeinputs" type="submit" style="background-color:#dd0000; color:white;" name="submit" value="Submit"> 
                                        </div>

                                        {% else %}

                                        <div class="col-md-4 inputbox" style="padding:50px 0 10px 0; margin:0; padding-left:5px; margin-top:10px;">
                                            <input class="codeinputs" type="submit" style="background-color:#dd0000; color:white;" name="submit" value="Submit"> 
                                        </div>
                                        <div class="col-md-4 inputbox" style="padding:50px 0 10px 0; margin:0; padding-left:5px; margin-top:10px;">
                                            <input class="codeinputs" type="submit" style="background-color:#007700; color:white;" name="submit" value="Submit + Add Solution"> 
                                        </div>
                                        <div class="col-md-4 inputbox" style="padding:50px 0 10px 0; margin:0; padding-left:5px; margin-top:10px;">
                                            <input class="codeinputs" type="submit" style="background-color:#0000ff; color:white;" name="submit" value="Submit + Add More"> 
                                        </div>

                                        {% endif %}



                                    </div>




                                </form>

                                </div>

                            </div>