



                                    
                                    
                                    <div style="content-visibility: auto; background-color: white; padding: 40px 20px; border-radius: 5px; ">
                                        <h3 class="grid-heading codeheading" style="margin-bottom:0;">


                                            <div style="float:right;text-align:right;display:grid;">

                                                <div style="margin-bottom:5px;">

                                                    <div class="btn-group">
                                                      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:black; color:orange; border-color:orange;">
                                                        Actions
                                                      </button>
                                                      <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a href="/codecollections/edit-problem/{{ProblemDataSet.slug}}/" style="color:black; display: flex;">
                                                                Edit Problem
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="/codecollections/delete-problem/{{ProblemDataSet.slug}}/" style="color:black; display: flex;">
                                                                Delete Problem 
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <a href="/codecollections/add-problem-links/{{ProblemDataSet.slug}}/" style="color:black; display: flex;">
                                                                Add Links
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <a href="/codecollections/add-solution/{{ProblemDataSet.slug}}/" style="color:black; display: flex;">
                                                                Add Solutions
                                                            </a>
                                                        </li>
                                                      </ul>
                                                    </div>

                                                </div>


                                                <div style="float:right;text-align:right;display:inline-flex;">
                                                {% if ProblemDataSet.plateforms %}
                                                    <div style="float:right;text-align:right;display:inline-flex;">
                                                        {% for object in ProblemDataSet.links %}
                                                            <div style="background-color:{{object.plateform_id.bgcolor | default:'lightgray'}}; padding:5px; margin:1px; border-radius:50px; font-size:70%; border-left: groove; border-right: ridge;">
                                                                <a href="{{object.link | default:'#'}}" target="_blank" style="color:{{object.plateform_id.color | default:'black'}};">
                                                                    {{object.text  |  default:object.plateform_id.name.0 }}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>



                                            <div style="display:flex; font-size:90%;">
                                                {{ProblemDataSet.id}}. {{ProblemDataSet.title | default:None}}
                                                <div style="margin:4px 0px 0px 4px;text-transform: initial;background-color:#ffa500; font-size:50%; padding:3px 10px; border-radius:10px; height:fit-content; min-width:fit-content;">
                                                    Powered by 
                                                    {% if ProblemDataSet.plateforms %}
                                                        {% for object in ProblemDataSet.plateforms %}
                                                            <b class="tags1">{{object.name}}</b>
                                                        {% endfor %}
                                                    {% else %}
                                                        <b class="tags1">None</b>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div style="border-radius:2px;font-size:16px; margin-bottom:10px;">
                                                {% if ProblemDataSet.subproblem %}
                                                    <b style="color:black; margin-right: 10px; text-decoration:underline;">Sub-Name's</b>  
                                                    {% for object in ProblemDataSet.subproblem %}
                                                        <b class="tags2" style="background-color:#454545; color:white; font-size:90%;">{{object.title}}</b>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>


                                            <div style="border-radius:2px;font-size:12px; margin:2px;">
                                                <b style="color:black; margin-right: 10px;">Tagged-Data-Structure's : </b>
                                                {% if ProblemDataSet.datastructures %}
                                                    {% for object in ProblemDataSet.datastructures %}
                                                        <b class="tags2">{{object.name}}</b>
                                                    {% endfor %}
                                                {% else %}
                                                    <b class="tags2">None</b>
                                                {% endif %}
                                            </div>
                                            <div style="border-radius:2px;font-size:12px; margin:2px;">
                                                <b style="color:black; margin-right: 10px;">Tagged-DSA-Sheet's/List's : </b>
                                                {% if ProblemDataSet.dsasheetlist %}
                                                    {% for object in ProblemDataSet.dsasheetlist %}
                                                        <b class="tags2">{{object.name}}</b>
                                                    {% endfor %}
                                                {% else %}
                                                    <b class="tags2">None</b>
                                                {% endif %}
                                            </div>
                                            
                                        </h3>



                                        <div style="margin-top: 30px;">

                                                    <div class="paragraph" style="padding: 20px 10px; background-color:#fbfbfb;">

                                                            <p>
                                                                {{ProblemDataSet.detailsset.0  |  safe}}
                                                            </p>

                                                    </div>




                                            {% if ProblemDataSet.timecomplexity != None or ProblemDataSet.auxiliaryspace != None %}

                                                <div class="paragraph" style="padding: 20px 10px; background-color:#fbfbfb;">
                                                    <p>
                                                        <b>Expected Time Complexity:</b> {{ProblemDataSet.timecomplexity  | default:None}}.
                                                    </p>
                                                    <p>
                                                       <b>Expected Auxiliary Space:</b> {{ProblemDataSet.auxiliaryspace  | default:None}}.
                                                   </p>
                                                </div>

                                            {% endif %}

                                        </div>
                                    </div>


