









                        <div class="row" style="background-color:#fafafa;border-radius:5px;">
                            <form method="POST" action="{{request.path}}">
                            {% csrf_token %}
                                <div class="col-md-12" style="padding: 0 15px;">
                                    <div class="codecollections" style="padding: 5px;">
                                        <div class="col-md-12 inputbox" style="margin-bottom:0px; margin-top:30px;">
                                                <label class="labels"> Data Structure </label>
                                                <div style="display: flex; overflow-x: scroll; background-color: white; border-radius: 5px; border: 1px solid #d5d5d5; padding: 2px;">
                                                    {% if DataStructures %}
                                                        {% for object in DataStructures %}
                                                            <div style="flex: none; padding: 5px 10px;">
                                                                <input type="checkbox" id="SolutionsDataStructures" name="SolutionsDataStructures" value="{{object.id}}" >
                                                                <label for="SolutionsDataStructures"> {{object.name}}</label>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div style="flex: none; padding: 5px 10px;">
                                                            <label for="None" style="font-style:italic;color: burlywood;"> <u style='margin-right:5px;font-weight:bold;'>Note:</u>   Now no data-fields are available to select here.</label>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Programming Language </label>
                                                    <select name="SolutionsProgrammingLanguage" id="SolutionsProgrammingLanguage" class="codeinputs">
                                                        {% for object in ProgrammingLanguages %}
                                                            <option value="{{object.id}}"{% if object.name == 'Python' %} selected {% endif %}>{{object.name}}</option>
                                                        {% endfor %}
                                                        <!-- <option value="other">Other's</option> -->
                                                    </select>
                                                </div>
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Plateform </label>
                                                    <select name="SolutionsPlateforms" id="SolutionsPlateforms" class="codeinputs">
                                                        {% for object in ProblemDataSet.plateforms %}
                                                                <option value="{{object.id}}" {% if object.name == 'GeeksForGeeks' %} selected {% endif %}>{{object.name}}</option>
                                                        {% endfor %}
                                                        <!-- <option value="other">Other's</option> -->
                                                    </select>
                                                </div>
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Time Complexity </label>
                                                    <input class="codeinputs" type="text" id="SolutionsTimeComplexity" name="SolutionsTimeComplexity">
                                                </div>
                                                <div class="col-md-3 inputbox">
                                                    <label class="labels"> Auxiliary Complexity </label>
                                                    <input class="codeinputs" type="text" id="SolutionsAuxiliarySpace" name="SolutionsAuxiliarySpace">
                                                </div>
                                            </div>
                                        </div>
                                        <textarea name="SolutionsCodeSubmissions" id="SolutionsCodeSubmissions" class="codetextarea codeinputs" placeholder="typing..." style="margin:15px;margin-top:0;  max-width: -webkit-fill-available;"></textarea>
                                        <div style="margin:15px; margin-top: 0;">
                                            <input class="codeinputs" type="submit" style="width:10%; background-color:darkred; color:white;"> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- /.row -->







