
{% extends 'guest/_master.html' %}




{% block tcontent %}
@theshivashu07's world!!
{% endblock %}



{% block headerplusplus %}

{% include 'appCodeCollections/_header.html' %}

{% endblock %}





{% block childcontent %}


        <div class="content-wrapper" style="padding:0">
            <div class="inner-container container">

                <!-- <div class="row">
                    <div class="section-header col-md-12" style="margin: 20px;">
                        <h2 class="grid-heading codeheading" style="font-weight:bold;"> Problem-And-Solution</h2>
                        <span>PATH: "{{request.path}}"</span>
                    </div> 
                </div>  -->

                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="box-content" style="padding: 50px;"> -->
                        <div class="box-content" style="padding: 25px;">
                            <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px;">



                                <div class="col-md-12"> 



                                    {% include 'appCodeCollections/Problems-Solutions-Mini-Templates/default-problem-show.html' %}


                                    <hr style="margin: 15px 0px;">


                                    {% include 'appCodeCollections/Problems-Solutions-Mini-Templates/default-solution-show.html' %}



                                </div> <!-- /.col-md-12 -->
                            </div> <!-- /.row -->
                        </div> <!-- /.box-content -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div>  <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->







{% endblock %}










