
{% extends 'guest/_master.html' %}




{% block tcontent %}
@theshivashu07's world!!
{% endblock %}



{% block headerplusplus %}

{% include 'appCodeCollections/_header.html' %}

{% endblock %}





{% block childcontent %}








<table class="table table-hover">

    <form method="POST" action="{{request.path}}">
        {% csrf_token %}

        <thead style="background-color: beige;">
            <tr>
              <th scope="col">#</th>
              <th scope="col" >Select Plateform(*)</th>
              <th scope="col" >Add Links(*)</th>
              <th scope="col" >Add Text Optional</th>
            </tr>
        </thead>


        <tbody>

                    {% for c in '0123' %}

                        <tr>
                            <th scope="row " style="padding-top: 18px;">
                                {{ forloop.counter }}.
                            </th>
                            <td>
                                <!-- <input class="codeinputs" type="text" id="plateformslinkstexts-{{ forloop.counter }}" name="plateformslinkstexts" placeholder="typing..." value="{{ ProblemDataSet.plateformslinkstexts.0 | default:'' }}"> -->
                                  <select  class="codeinputs" id="plateformslinkstexts-{{ forloop.counter }}" name="plateformslinkstexts" >
                                        <option class="codeinputs" value="">None</option>
                                    {% for object in Plateforms %}
                                        <option class="codeinputs" value="{{object.id}}">{{object.name}}</option>
                                    {% endfor %}
                                  </select>
                            </td>
                            <td>
                                <input class="codeinputs" type="text" id="plateformslinkstexts-{{ forloop.counter }}" name="plateformslinkstexts" placeholder="typing..." value="{{ ProblemDataSet.plateformslinkstexts.1 | default:'' }}">
                            </td>
                            <td>
                                <input class="codeinputs" type="text" id="plateformslinkstexts-{{ forloop.counter }}" name="plateformslinkstexts" placeholder="typing..." value="{{ ProblemDataSet.plateformslinkstexts.2 | default:'' }}">
                            </td>
                        </tr>

                    {% endfor %}

        </tbody>

        <input type="Submit">

    </form>

</table>




{% endblock %}























