
{% extends 'guest/_master.html' %}




{% block tcontent %}
@theshivashu07  |  ...  |  Whole Problems
{% endblock %}



{% block headerplusplus %}

{% include 'appCodeCollections/_header.html' %}

{% endblock %}





{% block childcontent %}






        <div class="content-wrapper" style="padding:0;min-height: 550px;">
            <div class="inner-container container">

                <!-- <div class="row">
                    <div class="section-header col-md-12" style="margin: 20px;">
                        <h2 class="grid-heading codeheading" style="font-weight:bold;"> All Problems List </h2>
                        <span>PATH: "{{request.path}}"</span>
                    </div> 
                </div>  -->

                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="box-content" style="padding: 50px;"> -->
                        <div class="box-content" style="padding: 100px 25px;">



                    <!-- <div class="col-md-12"> -->
                        <!-- <div class="box-content" style="padding: 50px;"> -->
                        <!-- <div class="box-content" style="padding: 100px 20px;"> -->
                            <div class="row" style="background-color:#fafafa;border-radius:5px;padding:20px 5px; padding-top:30px;">



                                <div class="col-md-12"> 




<table class="table table-hover">
  <thead style="background-color: beige;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Problem Name</th>
      <!-- <th scope="col" style="text-align: center;">Solutions Count</th> -->
      <th scope="col" style="text-align: center;">Problems Links</th>
      <th scope="col" style="text-align: center;">Solutions Links</th>
      <th scope="col" style="text-align: center;">Time and Space</th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>



        {% for object in ProblemDataSet  %}



                        <!-- <tr style="line-height:10px;" > -->
                        <tr>
                            <th scope="row ">
                                {{ forloop.counter }}
                            </th>
                            <td scope="row ">
                                <a href="/codecollections/problem/{{object.slug}}/">
                                    {{object.title}}
                                </a> ({{object.SolutionsCount}})
                            </td>
                            <td style="text-align: center;">
                                {% if object.links.problemslink %}
                                    {% for object_ in object.links.problemslink %}


                                                        <div style="display:inline-flex;">
                                                            <div style="background-color:{{object_.plateform_id.bgcolor | default:'lightgray'}}; padding:5px; margin:2px; border-radius:50px; font-size:70%; border-left: groove; border-right: ridge;">
                                                                <a href="{{object_.link | default:'#'}}" target="_blank" style="color:{{object_.plateform_id.color | default:'black'}};">
                                                                    {{object_.text  |  default:object_.plateform_id.name.0 }}
                                                                </a>
                                                            </div>
                                                        </div>

                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}

                            </td>


                            <td style="text-align: center;">
                                {% if object.links.solutionslink %}
                                    {% for object_ in object.links.solutionslink %}

                                                        <div style="display:inline-flex;">
                                                            <div style="background-color:#f0f0f0; padding:5px; margin:2px; border-radius:50px; font-size:70%; border-left: groove; border-right: ridge;">
                                                                <a href="{{object_.link | default:'#'}}" target="_blank" style="color:black;">
                                                                    {{object_.showntitle  |  default:"Other's" }}
                                                                </a>
                                                            </div>
                                                        </div>

                                    {% endfor %}
                                {% else %}
                                    None
                                {% endif %}

                            </td>


                            <td style="text-align: center;">{{object.timecomplexity}} - {{object.auxiliaryspace}}</td>
                            <!-- <td style="text-align: center;">
                                <a href="/codecollections/problem-solution/{{object.slug}}/{{object.id}}/">
                                    open-solution
                                </a>
                            </td> -->
                        </tr>



        {% endfor %}

  </tbody>
</table>



                                </div> <!-- /.col-md-12 -->
                            </div> <!-- /.row -->
                        </div> <!-- /.box-content -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div>  <!-- /.inner-content -->
        </div> <!-- /.content-wrapper -->





{% endblock %}
















